.ant-table-content th {
  background-color: #f0f0f0;
  color: #333;
}

.ant-table-content td,
.ant-table-content th {
  padding: 10px;
  border: 1px solid #d9d9d9;
}

.ant-table-content table {
  border-collapse: collapse;
}

.ant-table-content thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
}
