<nz-table #table
          [nzData]="users()"
          [nzBordered]="true"
          [nzPageSize]="users().length"
          [nzShowPagination]="false">
  <thead>
    <tr>
      @for (column of listOfColumns; track column.name) {
        <th
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzShowFilter]="!!column.listOfFilter.length"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
          [nzFilterMultiple]="false"
        >
          {{ column.name }}
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (data of table.data; track data.id) {
      <tr>
        <td [appHighlight]="data.firstName"
            [searchTerm]="usersService.searchQuery()"></td>
        <td [appHighlight]="data.lastName"
            [searchTerm]="usersService.searchQuery()">{{ data.lastName }}</td>
        <td [appHighlight]="(data.dateOfBirth | date:'dd MMMM yyyy') ?? ''"
            [searchTerm]="usersService.searchQuery()">{{ data.dateOfBirth | date:'dd MMMM yyyy' }}</td>
        <td [appHighlight]="data.phone"
            [searchTerm]="usersService.searchQuery()">{{ data.phone }}</td>
        <td>
          <nz-tag [nzColor]="data.isActive ? 'success' : 'error'">
            {{ data.isActive ? 'Active' : 'Non-active' }}
          </nz-tag>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
<div appSentinel (reached)="usersService.setNextPage()"></div>
